.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE6C7;
    height: 70px;
    position: fixed;
    width:100%;
    bottom:0;
}

#title {
    margin-right: 600px;
    margin-top: 15px;
}

#copyright {
    margin-left: 600px;
    margin-top: 15px;
}