.signupstuff {
    margin-top: 20px;
}

.signupstuffheader {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: xx-large;
    font-weight: 800;
}

.signuppagesignupbutton {
    margin-top: 40px;
}