.maincontainer {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.individualcontainers {
    margin-bottom: 80px;
    overflow-wrap: normal;
    position: relative;
    z-index: 0;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.visitoritemname {
    margin-top: 10px;
    font-weight: 700;
}

.visitoritemquantity {
    margin-top: 10px;
    font-weight: 700;
}

.visitoritemowner {
    margin-top: 10px;
    font-weight: 700;
}

.visitoritemdescription {
    margin-top: 10px;
    font-weight: 700;
    
}

.viewitembutton {
    width: 60;
    height: 36; 
    font-size: 16;
    margin-top: 30px;
}